body{
    margin-top: 80px;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    background-color: lightblue;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
td
{
    width: 60px;
    height: 60px;

}
th
{
    width: 15px;
    height: 15px;
    background-color: cadetblue;
    font-family: "Comic Sans MS";
    font-size:10px;
    color:#FFFFFF;
    border:cadetblue;
    border-style:dashed;
    text-align: center;

}
legend
{
    border-top:#00CC99;
    font-family: "Comic Sans MS";

}
fieldset{
    text-align:center;
    background:#99CCCC;
}
button{
    width: 100px;
    height: 40px;
    font-size:15px;

}

.circleBlue{
    display:block;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: darkblue;
    margin-left: auto;
    margin-right: auto;

}

.circleRed{
    display:block;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: darkred;
    margin-left: auto;
    margin-right: auto;

}

td:hover {
    width: 50px;
    height: 50px;

    background-color: cornflowerblue;

}

label
{

}